sup.redstar {
    color: #FF0000; /* red */
}

.un-input {
    width: 20rem;
    height: 1.5rem;
    margin-left: 1rem;
}

.pw-input {
    width: 20rem;
    height: 1.5rem;
    margin-left: 1.3rem;
    margin-top: 0.7rem;
}

button.pw-button {
    background-color: #FFFFFF; /* white */
    border: none;
}

div.remember-me {
    margin-top: 1rem;
    margin-left: 6.8rem;
}

input#submit {
    background-color: #4791F1; /* blue */
    border: none;
    border-radius: 0.2rem;
    color: #FFFFFF;  /* white */
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1rem 0rem 1rem 6.9rem;/* top right bottom left*/
    cursor: pointer;
    font-weight: normal;
}

input#submit:hover {
    background-color: #00008B; /* navy blue */
    border: none;
    border-radius: 0.2rem;
    color: #FFFFFF;  /* white */
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1rem 0rem 1rem 6.9rem;/* top right bottom left*/
    cursor: pointer;
    font-weight: normal;
}

/* https://css-tricks.com/almanac/selectors/p/placeholder/ */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 16px;
}

::-moz-placeholder { /* Firefox 19+ */
    font-size: 16px;
}

:-ms-input-placeholder { /* IE 10+ */
    font-size: 16px;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 16px;
}


